table td{
    border: 1px;
    border-color: black;
    border-style: solid;
    height: 20px;
}

table th{
    border: 1px;
    border-color: black;
    border-style: solid;
    height: 20px;
    background-color: rgb(194, 9, 9);
    color: white;
    text-align: left;
}

table{
    width: 50%;
    border-collapse: collapse;
    table-layout: fixed;
}

.row1{
    background-color: rgb(247, 129, 129); 
}

.row2{
    background-color: rgb(207, 162, 162); 
}

.row3{
    background-color: rgb(195, 225, 225); 
}

/* Your CSS Code here. */